---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Bodegas Coya e Hijos">
  <main>
    <Header />
    <Hero class:list={""} />
  </main>
</Layout>

<style></style>
