---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Bento from "../components/Bento.astro";
import NuestrasMarcas from "../components/NuestrasMarcas.astro";
import Footer from "../components/Footer.astro";

export const prerender = true;
---

<Layout title="Bodegas Coya e Hijos">
  <main>
    <Hero />
    <Bento />
    <NuestrasMarcas />
  </main>
  <Footer class="text-[#450408] bg-[#FFE6BB]" />
</Layout>
