---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Política de Privacidad - Bodegas Coya e Hijos">
  <section class="bg-[#450408] text-[#FFE6BB] py-12 px-6">
    <div
      class="w-4/5 mx-auto my-20 rounded px-6 py-10 bg-[#FFE6BB] text-[#450408]"
    >
      <h1 class="text-3xl font-Anton mb-6">Política de Privacidad</h1>
      <div class="page-content text-sm leading-loose font-Roboto">
        <p class="mb-4">
          Información en cumplimiento de la normativa de protección de datos
          personales
        </p>
        <p class="mb-4">
          En Europa y en España existen normas de protección de datos pensadas
          para proteger su información personal de obligado cumplimiento para
          nuestra entidad.<br />
          Por ello, es muy importante para nosotros que entienda perfectamente qué
          vamos a hacer con los datos personales que le pedimos.<br />
          Así, seremos transparentes y le daremos el control de sus datos, con un
          lenguaje sencillo y opciones claras que le permitirán decidir qué haremos
          con su información personal.<br />
          Por favor, si una vez leída la presente información le queda alguna duda,
          no dude en preguntarnos.<br />
          Muchas gracias por su colaboración.
        </p>

        <h2 class="text-xl font-Anton mt-6 mb-2">¿Quiénes somos?</h2>
        <p class="mb-4">
          <strong>Nuestra denominación:&nbsp;COYA E HIJOS, S.L.</strong>
        </p>
        <p class="mb-4"><strong>Nuestro CIF / NIF:&nbsp;B33350786</strong></p>
        <p class="mb-4">
          <strong
            >Nuestra actividad principal:&nbsp;PRODUCCIÓN Y&nbsp;DISTRIBUCIÓN DE
            BEBIDAS</strong>
        </p>
        <p class="mb-4">
          <strong
            >Nuestra dirección:&nbsp;CARRETERA ESTACIÓN DE VIELLA, KM. 2
            (POLÍGONO DE NAON) – 33429 – VIELLA(SIERO)</strong>
        </p>
        <p class="mb-4">
          <strong>Nuestro teléfono de contacto:&nbsp;985266671</strong>
        </p>
        <p class="mb-4">
          <strong
            >Nuestra dirección de correo electrónico de contacto:&nbsp;<a
              href="mailto:INFO@BODEGASCOYA.COM"
              rel="noreferrer"
              class="text-blue-500 hover:underline">INFO@BODEGASCOYA.COM</a
            ></strong>
        </p>
        <p class="mb-4">
          <strong
            >Nuestra página web:&nbsp;<a
              href="http://www.bodegascoya.com/"
              target="_blank"
              rel="noopener noreferrer"
              class="text-blue-500 hover:underline">WWW.BODEGASCOYA.COM</a
            ></strong>
        </p>
        <p class="mb-4">
          <strong
            >Para su confianza y seguridad, le informamos que somos una entidad
            inscrita en el siguiente Registro Mercantil / Registro
            Público:&nbsp;</strong>
        </p>
        <p class="mb-4 text-red-500">
          <b
            >TOMO 1.171, LIBRO 0, SECC. 8 FOLIO 114, HOJA O-2.776 – R.S.I: 30
            631/O</b>
        </p>

        <h2 class="text-xl font-Anton mt-6 mb-2">
          ¿Para qué vamos a usar sus datos?
        </h2>
        <p class="mb-4">
          Con carácter general, sus datos personales serán usados para poder
          relacionarnos con usted y poder prestarle nuestros servicios.<br />
          Asimismo, también pueden ser usados para otras actividades, como enviarle
          publicidad o promocionar nuestras actividades.
        </p>

        <h2 class="text-xl font-Anton mt-6 mb-2">
          ¿Por qué necesitamos usar sus datos?
        </h2>
        <p class="mb-4">
          Sus datos personales son necesarios para poder relacionarnos con usted
          y poder prestarle nuestros servicios. En este sentido, pondremos a su
          disposición una serie de casillas que le permitirán decidir de manera
          clara y sencilla sobre el uso de su información personal.
        </p>

        <h2 class="text-xl font-Anton mt-6 mb-2">
          ¿Quién va a conocer la información que le pedimos?
        </h2>
        <p class="mb-4">
          Con carácter general, sólo el personal de nuestra entidad que esté
          debidamente autorizado podrá tener conocimiento de la información que
          le pedimos.<br />
          De igual modo, podrán tener conocimiento de su información personal aquellas
          entidades que necesiten tener acceso a la misma para que podamos prestarle
          nuestros servicios. Así por ejemplo, nuestro banco conocerá sus datos si
          el pago de nuestros servicios se realiza mediante tarjeta o transferencia
          bancaria.<br />
          Asimismo, tendrán conocimiento de su información aquellas entidades públicas
          o privadas a las cuales estemos obligados a facilitar sus datos personales
          con motivo del cumplimiento de alguna ley. Poniéndole un ejemplo, la Ley
          Tributaria obliga a facilitar a la Agencia Tributaria determinada información
          sobre operaciones económicas que superen una determinada cantidad.<br
          />
          En el caso de que, al margen de los supuestos comentados, necesitemos dar
          a conocer su información personal a otras entidades, le solicitaremos previamente
          su permiso a través de opciones claras que le permitirán decidir a este
          respecto.
        </p>

        <h2 class="text-xl font-Anton mt-6 mb-2">
          ¿Cómo vamos a proteger sus datos?
        </h2>
        <p class="mb-4">
          Protegeremos sus datos con medidas de seguridad eficaces en función de
          los riesgos que conlleve el uso de su información.
        </p>

        <h2 class="text-xl font-Anton mt-6 mb-2">
          ¿Enviaremos sus datos a otros países?
        </h2>
        <p class="mb-4">
          En el mundo hay países que son seguros para sus datos y otros que no
          lo son tanto. Así por ejemplo, la Unión Europea es un entorno seguro
          para sus datos. Nuestra política es no enviar su información personal
          a ningún país que no sea seguro desde el punto de vista de la
          protección de sus datos.<br />
          En el caso de que, con motivo de prestarle el servicio, sea imprescindible
          enviar sus datos a un país que no sea tan seguro como España, siempre le
          solicitaremos previamente su permiso y aplicaremos medidas de seguridad
          eficaces que reduzcan los riesgos del envío de su información personal
          a otro país.
        </p>

        <h2 class="text-xl font-Anton mt-6 mb-2">
          ¿Durante cuánto tiempo vamos a conservar sus datos?
        </h2>
        <p class="mb-4">
          Conservaremos sus datos durante nuestra relación y mientras nos
          obliguen las leyes. Una vez finalizados los plazos legales aplicables,
          procederemos a eliminarlos de forma segura y respetuosa con el medio
          ambiente.
        </p>

        <h2 class="text-xl font-Anton mt-6 mb-2">
          ¿Cuáles son sus derechos de protección de datos?
        </h2>
        <p class="mb-4">
          En cualquier momento puede dirigirse a nosotros para saber qué
          información tenemos sobre usted, rectificarla si fuese incorrecta y
          eliminarla una vez finalizada nuestra relación, en el caso de que ello
          sea legalmente posible.<br />
          También tiene derecho a solicitar el traspaso de su información a otra
          entidad. Este derecho se llama «portabilidad» y puede ser útil en determinadas
          situaciones.<br />
          Para solicitar alguno de estos derechos, deberá realizar una solicitud
          escrita a nuestra dirección, junto con una fotocopia de su DNI, para poder
          identificarle.<br />
          En las oficinas de nuestra entidad disponemos de formularios específicos
          para solicitar dichos derechos y le ofrecemos nuestra ayuda para su cumplimentación.<br
          />
          Para saber más sobre sus derechos de protección de datos, puede consultar
          la página web de la Agencia Española de Protección de Datos (<a
            href="http://www.agpd.es/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-blue-500 hover:underline">www.agpd.es</a
          >).
        </p>

        <h2 class="text-xl font-Anton mt-6 mb-2">
          ¿Puede retirar su consentimiento si cambia de opinión en un momento
          posterior?
        </h2>
        <p class="mb-4">
          Usted puede retirar su consentimiento si cambia de opinión sobre el
          uso de sus datos en cualquier momento.<br />
          Así por ejemplo, si usted en su día estuvo interesado/a en recibir publicidad
          de nuestros productos o servicios, pero ya no desea recibir más publicidad,
          puede hacérnoslo constar a través del formulario de oposición al tratamiento
          disponible en las oficinas de nuestra entidad.
        </p>

        <h2 class="text-xl font-Anton mt-6 mb-2">
          En caso de que entienda que sus derechos han sido desatendidos, ¿dónde
          puede formular una reclamación?
        </h2>
        <p class="mb-4">
          En caso de que entienda que sus derechos han sido desatendidos por
          nuestra entidad, puede formular una reclamación en la Agencia Española
          de Protección de Datos, a través de alguno de los medios siguientes:<br
          />
          o Sede electrónica:&nbsp;<a
            href="http://www.agpd.es/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-blue-500 hover:underline">www.agpd.es</a
          ><br />
          o Dirección postal:<br />
          Agencia Española de Protección de Datos<br />
          C/ Jorge Juan, 6<br />
          28001-Madrid<br />
          o Vía telefónica:<br />
          Telf. 901 100 099<br />
          Telf. 91 266 35 17<br />
          Formular una reclamación en la Agencia Española de Protección de Datos
          no conlleva ningún coste y no es necesaria la asistencia de abogado ni
          procurador.
        </p>

        <h2 class="text-xl font-Anton mt-6 mb-2">
          ¿Elaboraremos perfiles sobre usted?
        </h2>
        <p class="mb-4">
          Nuestra política es no elaborar perfiles sobre los usuarios de
          nuestros servicios.<br />
          No obstante, pueden existir situaciones en las que, con fines de prestación
          del servicio, comerciales o de otro tipo, necesitemos elaborar perfiles
          de información sobre usted. Un ejemplo pudiera ser la utilización de su
          historial de compras o servicios para poder ofrecerle productos o servicios
          adaptados a sus gustos o necesidades.<br />
          En tal caso, aplicaremos medidas de seguridad eficaces que protejan su
          información en todo momento de personas no autorizadas que pretendan utilizarla
          en su propio beneficio.
        </p>

        <h2 class="text-xl font-Anton mt-6 mb-2">
          ¿Usaremos sus datos para otros fines?
        </h2>
        <p class="mb-4">
          Nuestra política es no usar sus datos para otras finalidades distintas
          a las que le hemos explicado. Si, no obstante, necesitásemos usar sus
          datos para actividades distintas, siempre le solicitaremos previamente
          su permiso a través de opciones claras que le permitirán decidir al
          respecto.
        </p>
      </div>
    </div>
  </section>
  <Footer class="bg-[#450408] text-[#FFE6BB]" />
</Layout>
