<!-- Bento grid de 4 cuadrillas con tailwindcss
    aaa bb
    aaa bb
    aaa bb
    cc ddd
    cc ddd
    cc ddd
-->
<section class="w-4/5 my-6 mx-auto h-[800px] grid grid-rows-2 gap-3">
  <div class="grid grid-cols-[900px_minmax(100px,_1fr)] gap-3">
    <article
      class="bg-[url('/img/embotelladora.webp')] brightness-100 bg bg-cover rounded flex flex-col justify-end text-white pl-32 pb-20 gap-4"
    >
      <h3 class="font-Anton">Embotelladora propia</h3>
      <p class="font-Roboto max-w-80 text-pretty">
        En Bodegas Coya e Hijos contamos con una embotelladora propia, lo que
        nos permite dar la máxima calidad a las marcas que elaboramos en la
        casa.
      </p>
    </article>
    <article class="bg-blue-900 rounded">a</article>
  </div>
  <div class="grid grid-cols-[minmax(100px,_1fr)_900px] gap-3">
    <article class="bg-blue-900 rounded">a</article>
    <article class="bg-blue-400 rounded">a</article>
  </div>
</section>
