---
import Instagram from "../icons/Instagram.astro";
import Facebook from "../icons/Facebook.astro";
---

<footer
  class:list={Astro.props.class}
  class="py-6 rounded-t-lg flex items-center justify-center gap-5 z-100 relative font-semibold font-Roboto text-xs md:text-xl"
>
  <a class="max-w-[20%]" href="#">Mapa Web</a>
  <a
    class="max-w-[20%]"
    href="https://www.instagram.com/bodegascoya/"
    target="_blank"
    rel="noopener noreferrer"><Instagram class="w-4 h-4 md:w-6 md:h-6" /></a
  >
  <a
    class="max-w-[20%]"
    href="https://www.facebook.com/coyaehijos/"
    target="_blank"
    rel="noopener noreferrer"><Facebook class="w-4 h-4 md:w-6 md:h-6" /></a
  >
  <a class="max-w-[20%]" href="/privacidad">Politica de privacidad</a>
</footer>
