---
import Instagram from "../icons/Instagram.astro";
import Facebook from "../icons/Facebook.astro";
---

<footer
  class:list={Astro.props.class}
  class="py-6 rounded-t-lg flex items-center justify-center gap-5 z-100 relative font-semibold font-Roboto text-md"
>
  <a href="#">Mapa Web</a>
  <a href="#"><Instagram class="w-6 h-6" /></a>
  <a href="#"><Facebook class="w-6 h-6" /></a>
  <a href="#">Politica de privacidad</a>
</footer>
