---
import Instagram from "../icons/Instagram.astro";
import Facebook from "../icons/Facebook.astro";
---

<footer
  class:list={Astro.props.class}
  class="py-6 rounded-t-lg flex items-center justify-center gap-5 z-100 relative font-semibold font-Roboto text-md"
>
  <span>Mapa Web</span>
  <Instagram class="w-6 h-6" />
  <Facebook class="w-6 h-6" />
  <span>Politica de privacidad</span>
</footer>
