---
import { CartIcon } from "../icons/cartIcon.jsx";
import Magnifier from "../icons/Magnifier.astro";
import User from "../icons/User.astro";
---

<header class="py-3 px-5 bg-[#48070b] rounded-b-lg sticky -top-0.5 z-50">
  <nav
    class="relative flex items-center justify-between w-4/5 mx-auto my-0 text-[#FFE6BB]"
  >
    <a href="/" class="hover:scale-125 transition">
      <img src="./img/LOGO-COYA.png" alt="logo coya" class="w-8 md:w-10" /></a
    >
    <form
      action=""
      method="get"
      class="hidden md:flex items-center gap-3 absolute left-[20%]"
    >
      <input
        type="text"
        name="search"
        placeholder="Buscar"
        class="bg-[#ffe6bb4b] px-2 py-1 rounded-md w-[50px] md:w-[100px] lg:w-[150px]"
      />
      <button class="hover:scale-125 transition"
        ><Magnifier class="w-4 h-4" /></button
      >
    </form>
    <ul
      class="hidden absolute top-1/2 right-0 transform -translate-y-1/2 -translate-x-1/2 lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6"
    >
      <li>
        <a class="inline-block hover:scale-110 transition" href="/productos"
          >Productos</a
        >
      </li>

      <li>
        <a class="inline-block hover:scale-110 transition" href="/nosotros"
          >Coya e Hijos</a
        >
      </li>
      <li>
        <a class="inline-block hover:scale-110 transition" href="/contacto"
          >Contacto</a
        >
      </li>
    </ul>

    <div class="flex items-center gap-6">
      <a href="/signin" class="hover:scale-125 transition hidden lg:block"
        ><User class="w-6 h-6" />
      </a>
      <a href="/cart" class="hover:scale-125 transition block">
        <CartIcon clase="w-4 h-4 md:w-6 md:h-6" />
      </a>
      <div class="lg:hidden flex items-center gap-6">
        <button class="navbar-burger block hover:scale-125 transition md:hidden"
          ><Magnifier class="h-4 w-4" />
        </button>
        <button class="navbar-burger flex flex-row items-center text-[#FFE6BB]">
          <svg
            class="block h-4 w-4 fill-current hover:scale-125 transition"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Mobile menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
        </button>
      </div>
    </div>
  </nav>
  <div class="navbar-menu relative z-50 hidden">
    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
    <nav
      class="fixed top-0 right-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-[#ffe6bbe1] border-r overflow-y-auto"
    >
      <div class="flex items-center mb-8">
        <a class="mr-auto text-3xl font-bold leading-none" href="/">
          <img src="./img/LOGO-COYA.png" alt="logo coya" class="w-10" /></a
        >

        <button class="navbar-close">
          <svg
            class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div class="flex flex-col gap-6">
        <form
          action=""
          method="get"
          class="flex items-center gap-3 self-center md:hidden"
        >
          <input
            type="text"
            name="search"
            placeholder="Buscar"
            class="bg-[#ffe6bb4b] px-2 py-1 rounded-md w-[150px]"
          />
          <button class="hover:scale-125 transition">
            <Magnifier class="w-4 h-4" />
          </button>
        </form>
        <div>
          <ul>
            <li class="mb-1">
              <a
                class="block p-4 text-sm font-semibold text-[#48070b] hover:bg-[#f3e0c0] hover:text-[#ab4a4f] rounded"
                href="/productos">Productos</a
              >
            </li>
            <li class="mb-1">
              <a
                class="block p-4 text-sm font-semibold text-[#48070b] hover:bg-[#f3e0c0] hover:text-[#ab4a4f] rounded"
                href="/nosotros">Coya e Hijos</a
              >
            </li>
            <li class="mb-1">
              <a
                class="block p-4 text-sm font-semibold text-[#48070b] hover:bg-[#f3e0c0] hover:text-[#ab4a4f] rounded"
                href="/contacto">Contacto</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="mt-auto">
        <a
          class="block px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold bg-gray-50 hover:bg-gray-200 rounded-xl"
          href="/signin">Iniciar sesión</a
        >
        <a
          class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-[#FFE6BB] font-semibold bg-[#48070b] hover:bg-[#48070bd5] rounded-xl"
          href="/register">Registrarse</a
        >
      </div>
    </nav>
  </div>
</header>

<script>
  // Burger menus
  document.addEventListener("DOMContentLoaded", function () {
    // open
    const burger = document.querySelectorAll(".navbar-burger");
    const menu = document.querySelectorAll(".navbar-menu");

    if (burger.length && menu.length) {
      for (var i = 0; i < burger.length; i++) {
        burger[i].addEventListener("click", function () {
          for (var j = 0; j < menu.length; j++) {
            menu[j].classList.toggle("hidden");
          }
        });
      }
    }

    // close
    const close = document.querySelectorAll(".navbar-close");
    const backdrop = document.querySelectorAll(".navbar-backdrop");

    if (close.length) {
      for (var i = 0; i < close.length; i++) {
        close[i].addEventListener("click", function () {
          for (var j = 0; j < menu.length; j++) {
            menu[j].classList.toggle("hidden");
          }
        });
      }
    }

    if (backdrop.length) {
      for (var i = 0; i < backdrop.length; i++) {
        backdrop[i].addEventListener("click", function () {
          for (var j = 0; j < menu.length; j++) {
            menu[j].classList.toggle("hidden");
          }
        });
      }
    }
  });
</script>
