---
import Cart from "../icons/Cart.astro";
import Magnifier from "../icons/Magnifier.astro";
---

<header class="py-3 px-5 bg-[#48070b] rounded-b-lg sticky top-0 z-50">
  <nav
    class="flex items-center justify-between w-4/5 mx-auto my-0 text-[#FFE6BB]"
  >
    <a href="/" class="hover:scale-125 transition">
      <img src="./img/LOGO-COYA.png" alt="logo coya" class="w-10" /></a
    >
    <!-- Buscador -->
    <form action="" method="get" class="flex items-center gap-3">
      <input
        type="text"
        name="search"
        placeholder="Buscar"
        class="bg-[#ffe6bb4b] px-2 py-1 rounded-md"
      />
      <button class="hover:scale-125 transition"
        ><Magnifier class="w-6 h-6" /></button
      >
    </form>
    <ul class="flex gap-3 items-center justify-center">
      <li>
        <a class="inline-block hover:scale-110 transition" href="/productos"
          >Productos</a
        >
      </li>
      <li>
        <a class="inline-block hover:scale-110 transition" href="/nosotros"
          >Coya e Hijos</a
        >
      </li>
      <li>
        <a class="inline-block hover:scale-110 transition" href="/contacto"
          >Contacto</a
        >
      </li>
    </ul>
    <!-- Iniciar sesion y carrito -->
    <div class="flex gap-4">
      <a href="/login" class="hover:scale-110 transition">Iniciar Sesión</a>
      <a href="/cart" class="hover:scale-150 transition">
        <Cart class="w-6 h-6" />
      </a>
    </div>
  </nav>
</header>
