<section class="flex flex-col justify-evenly relative min-h-[75vh] -top-2">
  <img
    src="/img/image.png"
    alt=""
    class="absolute w-full h-full object-cover object-center z-[-1] brightness-50"
  />
  <div class="flex flex-col min-h-[30vh] justify-end w-4/5 mx-auto gap-7">
    <h2 class="text-[#FFE6BB] text-6xl md:text-7xl lg:text-8xl font-Anton">
      Bodegas Coya e Hijos
    </h2>
    <p class="text-[#FFE6BB] text-pretty text-sm sm:text-xl font-Roboto">
      Empresa de embotellado y distribución de productos para hostelería y
      alimentación desde 1960.
    </p>
  </div>
  <a
    href="/contacto"
    class="self-center px-8 py-2 bg-[#450408] text-[#FFE6BB] rounded-xl hover:bg-[#84181fb1] transition duration-300 ease-in-out"
  >
    Contacta con nosotros
  </a>
</section>
