<section class="bg-[#450408] -bottom-2 relative">
  <div
    class="w-4/5 mx-auto min-h-[35vh] flex justify-center md:justify-end items-center relative"
  >
    <img
      src="/img/nuestras-marcas.webp"
      alt=""
      class="absolute h-[90%] object-fit object-center bottom-0 left-0 brightness-75 lg:brightness-100 transition"
    />

    <div class="flex flex-col gap-4 items-center w-[60%] text-center z-10">
      <h2 class="text-[#FFE6BB] text-5xl font-Anton">Nuestas marcas propias</h2>
      <p class="text-[#FFE6BB] text-pretty text-lg font-Roboto">
        Nuestra bodega cuenta con multitud de marcas propias, todas ellas de la
        mejor calidad y al mejor precio.
      </p>
      <a
        href="/marcas"
        class="px-8 py-2 text-[#450408] bg-[#FFE6BB] rounded-xl hover:bg-[#ffefd4] transition font-semibold"
        >Ver marcas</a
      >
    </div>
  </div>
</section>
