---
import data from "../productos/tintos.json";

const category = data.category;
const denominations = data.denominations;
---

<section class="flex flex-col gap-5 w-full">
  <h1 class="font-Anton text-6xl">
    {category}
  </h1>
  <ul class="flex gap-3">
    {
      denominations.map((denomination) => (
        <li class="px-2 py-1 rounded-xl hover:bg-[#450408] hover:text-[#FFE6BB] cursor-pointer transition">
          {denomination.denomination}
        </li>
      ))
    }
  </ul>
  <div
    class="productos flex flex-wrap gap-5 h-full font-Roboto font-medium text-sm justify-center"
  >
    {
      denominations.map((denomination) =>
        denomination.products.map((product) => (
          <article class="relative bg-[#E5CDA6] rounded-xl overflow-hidden cursor-pointer hover:scale-110 transition">
            <img src={product.img} alt="" class="absolute h-[100%] mt-3" />
            <span class="absolute bottom-0 text-pretty px-3 py-2 backdrop-blur-md">
              {product.name}
            </span>
          </article>
        ))
      )
    }
  </div>
</section>
